[submodule "Hardware/MegaMouse/Libraries/kenwoodfox-kicad-libraries"]
	path = Hardware/MegaMouse/Libraries/kenwoodfox-kicad-libraries
	url = https://github.com/KenwoodFox/kenwoodfox-kicad-libraries.git
[submodule "Hardware/MegaMouse/Libraries/Panelization.pretty"]
	path = Hardware/MegaMouse/Libraries/Panelization.pretty
	url = https://github.com/madworm/Panelization.pretty
[submodule "Firmware/sim/lib/mms-cpp"]
	path = Firmware/sim/lib/mms-cpp
	url = https://github.com/mackorone/mms-cpp.git
